<h1>Add a new beer</h1>
<p>Follow the form below to add your own beer to the collection!</p>

<div class="form-wrapper">
  <div class="form-wrapper__name">
    <label for="name">Beer name</label>
    <input id="name" placeholder="name" class="input" />
  </div>
  <div class="form-wrapper__tagline">
    <label for="tagline">Your tagline</label>
    <input id="tagline" placeholder="tagline" class="input" />
  </div>
  <div class="form-wrapper__abv">
    <label for="abv">Abv</label>
    <input id="abv" placeholder="Abv %" class="input" />
  </div>
  <div class="form-wrapper__ibu">
    <label for="ibu">Ibu</label>
    <input id="ibu" placeholder="ibu %" class="input" />
  </div>
  <div class="form-wrapper__ph">
    <label for="ph">Ph</label>
    <input id="ph" placeholder="Ph value" class="input" />
  </div>
  <div class="form-wrapper__brewed">
    <label for="brewed">First brewed</label>
    <input id="brewed" placeholder="First brew date" class="input" />
  </div>
  <div class="form-wrapper__description">
    <label for="Description">Description</label>
    <textarea
      id="description"
      placeholder="Say something nice about the beer"
      class="input textarea"
    ></textarea>
  </div>
  <div class="form-wrapper__file">
    <input type="file" />
  </div>
</div>
