@use "../shared/styles/shared.scss" as shared;

.wrapper {
  display: grid;
  grid-template-areas:
    "img title"
    "img desc";
  grid-template-columns: [img]300px;
  grid-template-rows: [title] minmax(25px, 58px);
  gap: 32px;

  @media (max-width: shared.$breakpoint_sm) {
    grid-template-columns: auto;
  }

  @media (max-width: shared.$breakpoint_md) {
    grid-template-areas:
      "img"
      "title"
      "desc";
    grid-template-rows: auto;
    grid-template-columns: [img]80%;
    justify-content: center;
  }

  &__image {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-wrapper {
    width: 300px;
    height: 300px;
    background-color: #ebebeb;
    border-radius: 30px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: shared.$breakpoint_sm) {
      width: 80%;
      min-width: 200px;
    }

    & img {
      height: 100%;
    }
  }

  &__title {
    grid-area: title;
    & h1 {
      color: shared.$primary_color;
      margin: 0;
      padding: 0;
    }

    & span {
      font-style: italic;
      font-size: 0.8em;
    }
  }

  &__desc {
    grid-area: desc;
  }

  // &__table {
  //   grid-area: table;
  //   display: block;
  //   border-collapse: collapse;
  //   & tr {
  //     width: 100%;
  //     height: 50px;
  //     --border-style: 1px solid black;
  //     border-top: var(--border-style);
  //     border-bottom: var(--border-style);

  //     & td:first-child {
  //       width: 50px;
  //     }
  //   }
  // }
}
