@use "../../../shared/styles/shared.scss" as shared;

.wrapper {
  --grid-template-columns: 3;
  --breakpoint-grid_row-gap: 40px; // 24px 32px

  display: grid;
  grid-template-columns: repeat(var(--grid-template-columns), 1fr);
  gap: var(--breakpoint-grid_row-gap) var(--breakpoint-grid_row-gap);
  padding: 16px;

  @media (min-width: shared.$breakpoint_md) {
    --grid-template-columns: 4;
    --breakpoint-grid_row-gap: 24px;
  }

  @media (max-width: shared.$breakpoint_sm) {
    --grid-template-columns: 2;
    --breakpoint-grid_row-gap: 24px;
  }

  @media (max-width: shared.$breakpoint_xs) {
    --grid-template-columns: 1;
  }

  &__beer {
    background-color: white;
    padding: 8px;
    text-decoration: none;
    color: inherit;
    position: relative;
    &::after {
      content: " ";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 100ms;
      background-color: rgba(shared.$primary_color, 0);
    }

    &:hover::after {
      background-color: rgba(shared.$primary_color, 0.5);
    }
  }

  &__beer-icon {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  &__beer-title {
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
  }

  &__beer-info {
    font-weight: lighter;
    font-size: 0.8em;
    text-align: center;
  }
}
// .wrapper {
//   --grid-template-columns: 3;
//   --breakpoint-grid_row-gap: 40px; // 24px 32px

//   display: grid;
//   grid-template-columns: repeat(var(--grid-template-columns), 1fr);
//   gap: var(--breakpoint-grid_row-gap) var(--breakpoint-grid_row-gap);
//   padding: 16px;

//   @media (min-width: shared.$breakpoint_md) {
//     --grid-template-columns: 4;
//     --breakpoint-grid_row-gap: 24px;
//   }

//   @media (max-width: shared.$breakpoint_sm) {
//     --grid-template-columns: 2;
//     --breakpoint-grid_row-gap: 24px;
//   }

//   @media (max-width: shared.$breakpoint_xs) {
//     --grid-template-columns: 1;
//   }

//   &__beer {
//     text-decoration: none;
//     color: inherit;
//     background-color: white;
//     display: grid;
//     cursor: pointer;
//     border: 1px solid transparent;

//     &:hover h3 {
//       transition: 100ms;
//       color: shared.$primary_color;
//     }
//   }

//   &__beer-icon {
//     width: 100%;
//     height: 200px;
//     background-color: hsl(0%, 0%, 97%);
//     border-radius: 30px;
//     display: flex;
//     justify-content: center;
//     padding: 20px;
//   }

//   &__beer-title {
//     font-weight: bold;
//     font-size: 0.9em;
//   }
//   &__beer-info {
//     font-weight: lighter;
//     font-size: 0.8em;

//     &--tagline {
//       font-style: italic;
//     }
//   }
// }
