@use "../../../shared/styles/shared.scss" as shared;

.wrapper {
  --grid-template-columns: 3;
  --breakpoint-grid_row-gap: 40px; // 24px 32px

  display: grid;
  grid-template-columns: repeat(var(--grid-template-columns), 1fr);
  gap: var(--breakpoint-grid_row-gap) var(--breakpoint-grid_row-gap);
  padding: 16px;

  @media (max-width: shared.$breakpoint_sm) {
    --grid-template-columns: 2;
    --breakpoint-grid_row-gap: 24px;
  }

  @media (max-width: shared.$breakpoint_xs) {
    --grid-template-columns: 1;
  }

  &__beer {
    text-decoration: none;
    color: inherit;
    background-color: white;
    display: grid;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover h3 {
      transition: 100ms;
      color: shared.$primary_color;
    }
  }

  &__beer-icon {
    width: 100%;
    height: 200px;
    background-color: hsl(0%, 0%, 97%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__beer-title {
    font-weight: bold;
    font-size: 0.9em;
  }
  &__beer-info {
    font-weight: lighter;
    font-size: 0.8em;

    &--tagline {
      font-style: italic;
    }
  }
}
