@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  background-color: #f6f6f6;
}

h1 {
  color: #4c4c4c;
}

textarea {
  font-family: "inter", sans-serif;
}
