.banner {
  --opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacity)),
      rgba(0, 0, 0, var(--opacity))
    ),
    url(../../assets/beers-1283566.jpg);

  background-size: cover;
  width: 100%;
  height: 500px;
}
